.textContent {
padding-bottom: 5px;
margin: 2px;
font-size: 1rem;
max-width: 75%;
text-align: left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

hr {
  width: 95%;
  height:4px;
  background-color: black;
}