/* blue #27a1b4 purp #4e3055 green #8ac34e and black*/

.nav {
  /* flex box layout */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#8ac34e, #27a1b4, #4e3055, black);
  overflow: hidden;
  margin-bottom: -10px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  margin: 0;
}

.navImg {
  padding: 10px;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px 10px;
  text-decoration: none;
  background-color: black;
  font-size: 22px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.linkDiv {
  width: 100%;
  background-color: black;
}

.navLink:hover {
  color: rgb(156, 185, 53);
  font-weight: bold
}